.page {
  width: 100%;
  height: 100%;
  margin: 0;
  background: black
}

.page__container {
  width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  /* font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #FFF; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__title {
  margin: 0;
  font-family: 'Roboto Condensed', 'Roboto', Arial, Helvetica, sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.page__text {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
